.column{
    background-color: #EFFBFD;
    height: 800px;
    
    
}
.YP{
    padding: 50px ;
    height: 80px;
    float: left;
    font-size: 25px;
    font-weight:bold ;
    color: black;
}
nav ul li{
    list-style: none;
    display: inline;
    margin: 30px;;
    padding: px;
    width: 30px;
    float: right;
    font-size: 50px;
    color: purple;
}
nav ul li a{
    font-size: medium;
    color: #000;
    font-style: sans-serif;
    text-decoration: none;
    display: inline;
    font-weight: bold;
    margin-top: 20px;
}
.text.box{
    padding-top: 100px;
    background-color: orange;
}
.members{
    padding-bottom: 100px;
}

.h1{
    float: left;
    padding: 70px;
    margin-right: 0px;
    font-size: 20px;
    height: 50px;
}
.btn{
    background-color: blue;
}
.im img{
    float: right;
    border-radius: 400px;
    border: 5% solid grey;
}




.product{
    height: 200px;
    display: flex;
   text-align:center;
    
}
.head{
    background-color: #E8FAFC;
    height:700px
}
.Services{
    float: left;
    font-weight: bold;
}



.column-1{
    display: flex;
    
}
.radio{
    padding: 40px;

    background-color: beige;
    margin-right:4%;

}
.Ambulance{
    padding: 40px;
     background-color:beige ;
    margin-right:  110px;
}
.Dental{
    padding: 40px;
    background-color: beige;
    margin-right: 110px;
    width:400px;
    
}
.column-2{
    display: flex;
}
.Surgical{
    padding: 40px;
    background-color:beige ;
    margin: 4%;
    
}
.Parturition{
    padding: 40;
    background-color:beige ;
    margin: 4%;
    
}
.pet{
    padding: 40px;
    background-color:beige ;
    margin: 4%;
}
.section2{
    background-color:#E8FAFC;
}
.column-3{
    float:right;
    margin-right: 150px;
    
    
}
.imge img{
    float:left;
    margin-left: 150px;
    padding-top: 20px;
    
}
.column-4{
    padding-top: 400px;
    

}
.patients{
    float: left;
    padding-top: 50px;
    margin-right: 20%;
}
    float:right;
    padding-bottom: 600px;
.comment{

}
.interests{
    display:inline-block;
    padding-bottom:40px;
    float:right;
    border:3px solid black ;
    margin-right: 5%;
    
    
}
.Cheap{
    display: flex;
    
    border: 3px solid black;
    display: inline-block;
    margin-top: 5%;
    margin-left:5% ;

}
.column-5{
    background-color:#EDFBFD;
    

}
.Qualified{
    font-size: 20px;
    margin-left: 3%;
}



.imaage{
    margin-left: 3%;
}

.Blog{
    text-align:center;
    
    height: 200px;
    width: 650px;
    background-color:#C5F2F7 ;
    margin-left: 25%;
}

.column-6{
    background-color:#EDFBFD;
    display: inline-block;
    display: flex;
    width: 100%;
    height: 400px;
    

}
.pet{
    padding-bottom: 100px;
    
}
.product{
    
    display: inline;
    margin-left:50px;
    padding-top: 10px;
    }
.comm{
    padding: 10px;
    margin-left: 10%;
    padding-bottom:10px;
}
.about{
    padding: 10px;
    display: inline-block;
    float:right;
    padding-bottom: 400px;
    margin-left:10% ;
}

    