.column{
    background-color: #EFFBFD;
    height: 600px;
    
    
}
.YP{
    padding: 50px ;
    height: 80px;
    float: left;
    font-size: 25px;
    font-weight:bold ;
    color: black;
}
nav ul li{
    list-style: none;
    display: inline;
    margin: 30px;;
    padding: px;
    width: 30px;
    float: right;
    font-size: 50px;
    color: purple;
}
nav ul li a{
    font-size: medium;
    color: #000;
    font-style: sans-serif;
    text-decoration: none;
    display: inline;
    font-weight: bold;
    margin-top: 20px;
}
.vet{
    color:orange
}  

.text{
    
    float:left;
    margin-right: 20px;
    
}

.btn{
    background-color: blue;
    border-radius: 1px;

}

.im img{
    float: right;
    border-radius: 90%;
    border: 50% solid grey ;
    margin-left: 30%;
    padding-top: 
}
.product{
    height: 200px;
    display: flex;
   text-align:center;
    
}
.head{
    background-color: #E8FAFC;
    height:900px
}
.Services{
    float: left;
    font-weight: bold;
}
.need{
    float:right;
    margin-right: 3%;
}
.column-1{
    display: flex;
    padding-top: 11%;
    
}
.radio{
    padding: 40px;
    background-color: white;
    margin-left:-17%;
    width:19%;

}
.env{
    color:blue
}
.Ambulance{
    padding: 38px;
     background-color:white ;
    margin-left:10%;
    width: 22%;
}
.circle{
    color:blue
}
.arrow{
    color:blue;
}
.Dental{
    padding: 50px;
    background-color: white;
    margin-left: 10%;
    
}
.column-2{
    display: flex;
    padding-top: 7%;
}
.Surgical{
    padding: 40px;
    background-color:white ;
    margin: 4%;
    
}
.square{
    color: blue;
}
.Parturition{
    padding: 40;
    background-color:white ;
    margin: 4%;
    
}
.paw{
    color: blue;
}
.ph{
    padding: 40px;
    background-color:white ;
    margin: 4%;
}
.building{
    color: blue;
}
.section2{
    background-color:#E8FAFC;
}
.column-3{
    float:right;
    margin-right: 150px;
    }
.imge img{
    float:left;
    margin-left: 150px;
    padding-top: 20px;
    
}
.column-4{
    height:1000px;
    background-color: #E6FDFD;
    }
.patients{
    float: left;
    padding-top: 50px;
    margin-right:70%;
}
.comment{
    margin-right:0%;
    padding-bottom:50px;
}
.interests{
    display:inline-block;
    padding-bottom:40px;
    float:right;
    margin-right: 5%;
    margin-top: 5%;
    border-block: 1px;
    
    
}
.quot{
    color: lightblue;
    size: 20%;
}
.Cheap{
    display: flex;
    display: inline-block;
    margin-top:5%;
     margin-left:10% ; 
    margin-bottom: 40%;

}
.quote{
    color: lightblue;
    size:20%;
}
.photo img{
    border-radius: 1px;
}
.imag img{
    margin-right: 80%;
}
.star{
    color: orange;
}
.stars{
    color: orange;
}
    

.column-5{
    background-color:#EDFBFD;
    padding-top: 50px;
    

}
.Qualified{
    font-size: 20px;
    margin-left: 3%;
}
.see{
    float: right;
    margin-bottom:30px
}



.imaage{
    margin-left: 3%;
    display:flex
}
.dc{
    margin-right: 50px;
}
.male{
    margin-right: 30px;
}
.DT{
    margin-right: 30px;
    text-align: center;
    width:20px;
    

}
.nme{
    margin-top: 35%;
    display: flex;
}
.Blog{
    text-align:center;
    width: 650px;
    background-color:#C5F2F7 ;
    margin-left: 25%;
    height: 90px;
}
.Sub{
    background-color: #C5F2F7;
    font-size: 2px;
    border-radius: 3%;
}

.column-6{
    background-color:#EDFBFD;
    display: inline-block;
    display: flex;
    width: 100%;
    height: 400px;
    

}
.pet{
     margin-left: 9%;
     
    
}
.sm{
    display: flex;
}
.fb{
    color:blue;
}
.tweet{
    color:blue;
}
.google{
    color:orangered
}
.linkin{
   color: blueviolet;
}

.product{
    
    display: inline;
    margin-left:50px;
    padding-top: 10px;
    }
.comm{
    padding: 10px;
    margin-left: 10%;
    padding-bottom:10px;
}
.about{
    padding: 10px;
    display: inline-block;
    float:right;
    padding-bottom: 400px;
    margin-left:10% ;
}

    